server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: file:///path/to/config-repo
          default-label: main

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
